<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EmpManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SpringMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMvc</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/beans-dao.xml</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SessionListener</display-name>
    <servlet-name>SessionListener</servlet-name>
    <servlet-class>com.square.listener.SessionListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionListener</servlet-name>
    <url-pattern>/session</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerInfo</display-name>
    <servlet-name>WorkerInfo</servlet-name>
    <servlet-class>com.square.listener.WorkerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerInfo</servlet-name>
    <url-pattern>/worker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBooking</display-name>
    <servlet-name>CancelBooking</servlet-name>
    <servlet-class>com.square.listener.CancelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBooking</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInMain</display-name>
    <servlet-name>AddInMain</servlet-name>
    <servlet-class>com.square.listener.AddInMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInMain</servlet-name>
    <url-pattern>/addin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClient</display-name>
    <servlet-name>AddClient</servlet-name>
    <servlet-class>com.square.listener.AddClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClient</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashOnDelivery</display-name>
    <servlet-name>CashOnDelivery</servlet-name>
    <servlet-class>com.square.listener.CashOnDelivery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashOnDelivery</servlet-name>
    <url-pattern>/cash</url-pattern>
  </servlet-mapping>
</web-app>